<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/shots.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header id="header" class="">
    <p>Ring Screen Shots</p>
  </header><!-- /header -->
  <div id="snapshot">

  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js" ></script>
<script type="text/javascript">
$(function ()
{

  //----------------------------------------------------------------------
  /*
   * variable
   */


   var socket = io.connect(), // ソケット通信
       snapshot = document.getElementById('snapshot'); // 画像の保存場所

    $(snapshot).css({
      width: window.innerWidth + 'px',
      height: window.innerHeight + 'px'
    });


  //----------------------------------------------------------------------
  /*
   * websoclet socket.io
   */


  socket.on('post_screen_shot', function (data)
  {

    console.log($(snapshot));
    $(snapshot).append( "<img class='ss' src=" + data + " alt='画像'>" );

    var ss = document.getElementsByClassName('ss');

    var imageW = window.innerWidth, // ウィンドウの横幅
        imageH = imageW / 640 * 480; // カメラの縦幅

    $(ss).css({
      width: imageW + 'px',
      height: imageH + 'px'
    });

  });


});
</script>
</html>




